.charactersContent{
  width: 70%; 
  margin: 0 auto; 
  padding: 40px;
  font-size: 3.5rem; 
  text-align: center; 
  text-transform: uppercase; 
}

.charactersList {
  position: relative;

  display: flex;
  justify-content: space-around;

  width: 60%;
  height: 70%; 
  margin: 0 auto;
  padding-top: 40px; 
}

.characterItem {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;

  border-radius: 80px; 
  border: solid; 

  &:hover {
    background-color: rgb(30, 8, 95, 0.66);
  }
}

.characterContainer {
  height: 80%;
}

.characterChoice {
  height: 100%;
  width: 100%;
}

.characterLabel {
  font-size: 2.2rem;
  text-align: center; 
  width: 100%;
}


