@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.gameMain {
  background: url('/assets/img/bg.svg');
  background-size: cover; 
  background-repeat: no-repeat;

  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

// TITLE

.titleContainer {
  width: 60%;
  margin: 0 auto; 
  text-transform: uppercase; 
  padding: 60px 40px 40px 40px; 
  font-weight: normal; 
  
  h1 {
    text-align: center; 
    font-size: 2.5rem; 
  }
}

// CHOICES

.choicesList {
  width: 80%;  
  height: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.choiceItem { 
  z-index: 10; 

  width: 220px;
  height: 220px;
  margin: 40px 20px; 

  border-radius: 90px;
  font-size: 1.8rem;

  animation: fadeIn 0.5s linear;

  &:hover {
    height: 480px;
    background-color: rgb(30, 8, 95, 0.66);

    .labelAction {
      opacity: 1;
    }
  }
}

// CHOICE ICON
.iconAction {
  background-color: rgba(255, 255, 255, 0.61);

  position: relative;

  width: 100%;
  height: 220px;

  border-radius: 90px;
  text-align: center;

  &:hover {
    background: none;
  }
}

.logoContainer {
  height: 100%;

  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 

  svg {
    width: 70%; 
  }
}


// CHOICE TEXT
.labelAction {
  width: 100%;
  padding: 15px; 
  opacity: 0;
}

// AUDIO

.soundContainer {
  width: 200px; 
  position: absolute; 
  right: 40px; 
  top: 40px; 
}

audio {
  cursor: pointer;
  width: 100%; 
}  